<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css?family=Chilanka|Press+Start+2P&display=swap" rel="stylesheet">
    <title>Log in</title>
</head>

<body>

    <div id="app">

        <div class="nav-bar">
            <h2> + Sign up or log in to play + + + Sign up or log in </h2>
        </div>

        <div>
            <form onsubmit="return false">
                <input type="text" v-model="username" placeholder="   Please enter Username">
                <input type="text" v-model="password" placeholder="   Please enter Password">
                <button type="submit" v-on:click="login">Log in</button>

                <span v-if="loggedIn == true">
                    <button type="submit" v-on:click="logout2">Log out</button>
                </span>

                <input type="text" v-model="usernameSign" placeholder="   Please enter Username">
                <input type="text" v-model="passwordSign" placeholder="   Please enter Password">
                <button type="submit" v-on:click="signup">Sign up</button>
            </form>
        </div>

    </div>

    <script src="game.js"></script>

</body>

</html>